#mensaje {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d8000c;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 1;
    /* La animación se inicia después de 3 segundos y dura 2 segundos */
    animation: fadeOut 3s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
