/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #323232;
    background-image: url('https://github.com/H3RBASS/imagenes/blob/main/fondo.jpg?raw=true');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.txtWlcm {
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

/* Barra superior */
.barra-superior {
    width: 100%; /* Esto hace que ocupe todo el ancho */
    background-color: #000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; /* Espacia los elementos: el título a la izquierda y los botones a la derecha */
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.titulo-banco {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.navegacion ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.navegacion ul li a:hover {
    background-color: rgb(0, 136, 255);
}

/* Estilos para el contenido principal */
.contenido {
    width: 80%;
    max-width: 900px;
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.action-btn{
    width: 20%;
    height: 50px;
    border-radius: 15px;
    border: 3px solid rgb(71, 71, 71);
    background-color: rgb(33, 33, 33);
    padding: 10px;
    margin-top: 5%;
    color: white;
    transition: .1s;
    cursor: pointer;
}
.action-btn:focus {
    outline: none;
    border: 1px solid rgb(0, 136, 255);
    
}
.action-btn:hover {
    background-color: rgb(60, 60, 60);
    opacity: 0.9;
}

p {
    font-size: 18px;
    color: #bbb;
}
.profile{
    width: 130px;
    height: auto;
    border-radius: 15px;
}

/* Estilos para el footer */
.footer {
    color: #fff; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 15px 0; /* Espaciado interno */
    font-family: 'Poppins', sans-serif; /* Fuente */
    font-size: 14px; /* Tamaño de la fuente */
    width: 100%; /* Ancho completo */
    margin-top: auto; /* Empuja el footer al final */
}

.footer-content {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
}

.footer p {
    margin: 0; /* Eliminar margen predeterminado del párrafo */
}
